<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Excel</title>
    <link rel="stylesheet" href="../../../styles/main.css">
</head>
<body>

<div>
    <a href="" th:href="@{${fileName}}" download="">FILE</a>
    <br>
    <p th:text="${fileName}"></p>
    <a href="/text1.txt" download="">Text</a>
    <br>
    <a href="/files/text1.txt" download="">Text Files</a>
    <br>
    <a href="../files/doc-test-1.docx" download="">Doc</a>
    <br>
    <a href="/uploads/aaa.txt" download="">aaa</a>
    <br>
    <a href="/uploads/bbb.excel" download="">bbb excel</a>
    <br>
    <a href="/uploads/new.txt" download="">uploads</a>
    <br>
</div>

</body>
</html>